.traceback-js_container {
    width: 780px;
    margin: 0;
    padding: 8px 0;
    border: 1px solid #eee;
    border-radius: 2px;
    background-color: #fff;
    overflow-x: auto;
}

.traceback-js_list {
    border-spacing: 0;
    color: #333;
    font-size: 14px;
    font-family: Monaco, Consolas, Menlo;
    white-space: pre;
    line-height: 24px;
    tab-size: 4;
}

.traceback-js_item {
    /* padding-right: 8px; */
    /* cursor: pointer; */
}
.traceback-js_item.clicked_row {
    background-color: rgba(0, 130, 161, .1);
}
.traceback-js_item.highlight_row,
.traceback-js_item.highlight_row .traceback-js_index::before {
    background-color: #009688;
    color: #fff;
}

.traceback-js_index {
    padding: 0;
    min-width: 36px;
    color: #999;
    text-align: right;
    cursor: pointer;
}
.traceback-js_index::before {
    content: attr(data-lineno);
}
.traceback-js_index:hover {
    color: #666;
}

.traceback-js_content {
    padding: 0 16px;
}
