.traceback-js_container {
    width: 100%;
    margin: 0;
    padding: 8px 0;
    border: 1px solid #eee;
    border-radius: 2px;
    /* background-color: #fff; */
    overflow-x: auto;
}

.traceback-js_list {
    min-width: 100%;
    border-spacing: 0;
    color: #4b4b4b;
    font-size: 14px;
    font-family: Consolas, Monaco, Liberation Mono, Menlo;
    white-space: pre;
    line-height: 24px;
    tab-size: 4;
}

.traceback-js_item {
    /* padding-right: 8px; */
    /* cursor: pointer; */
}
.traceback-js_item.clicked_row {
    background-color: rgba(0, 128, 128, .1);
}
.traceback-js_item.highlight_row,
.traceback-js_item.highlight_row .traceback-js_index::before {
    background-color: #008080;
    color: #fff;
}

.traceback-js_index {
    padding: 0;
    width: 36px;
    min-width: 36px;
    color: #999;
    text-align: right;
    cursor: pointer;
}
.traceback-js_index::before {
    content: attr(data-lineno);
}
.traceback-js_index:hover {
    color: #666;
    -webkit-user-select: none;
    user-select: none;
}

.traceback-js_content {
    padding: 0 16px;
}
